
.logos {
    background-color:background: rgb(28,113,14);
    background: linear-gradient(300deg, rgba(28,113,14,1) 50.75%, rgba(47,187,23,1) 50.75%);;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 10px;
    padding: 0%;
  }
  .logos ul {
    list-style-type: none;
    display: inline-block;
  }
  .logos ul li {
    display: inline;
    margin-left: 8px;
    gap: 8px;
  }
  .logos ul li a {
    color: white;
    text-decoration: none;
  }
  
  body {
    margin: 0px;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .second {
    background-color:background: rgb(47,187,23);
    background: linear-gradient(300deg, rgba(25,85,11,1) 53%, rgba(25,85,11,1) 53%);;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
    gap: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4em;
    padding-left: 10%;
    padding-right: 10%;
  }
  .second ul {
    list-style-type: none;
    display: inline-block;
  }
  .second ul li {
    display: inline;
    margin-left: 8px;
    gap: 8px;
  }
  .second ul li a {
    color: white;
    text-decoration: none;
  }
  
  .second a:hover {
    background-color: white;
    color: black;
  }
  
  .dd {
    display: none;
    background-color: #0a3406;
  }
  
  .third {
    background-color:background: rgb(28,113,14);
    background: linear-gradient(300deg, rgba(47,187,23,1) 55%, rgba(36,137,13,1) 55%);;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 10px;
    padding: 0%;

  }
  
  .points {
    margin-left: 36vw;
    color: #195d10;
  }
  
  .table {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  .table thead tr th {
    border: 1px solid black;
    padding: 10px;
  }
  .table tbody tr td {
    border: 1px solid black;
    padding: 20px;
  }
  
  .teams {
    margin-left: 36vw;
    color: #195d10;
  }
  
  .teamlogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media (max-width: 1440px) {
    .logos {
      background-color: black;
    }
  }
  @media (max-width: 991px) {
    .second {
      display: none;
    }
    .dd {
      display: block;
    }
  }
  .stats {
    margin-left: 40vw;
    color: #195d10;
  }
  
  .stat {
    background-color: #195d10;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 25px;
    max-width: 1180px;
    width: 100%;
    text-align: center;
  }
  
  .iframe {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .latest {
    margin-left: 40vw;
    color: #195d10;
  }
  
  .t {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .t1 {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #195d10;
  }
  
  .sp {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .list {
    list-style: none;
    padding-left: 8%;
  }
  .list ul {
    list-style: none;
  }
  .list li {
    margin: 0%;
    padding-left: 0%;
  }
  .list a {
    color: #777777;
    text-decoration: none;
  }
  
  .f1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 4%;
  }
  
  .address {
    padding-left: 11%;
    list-style: none;
  }
  
  .last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 11%;
    gap: 5px;
  }
  .last ul {
    list-style-type: none;
    display: inline-block;
  }
  .last ul li {
    display: inline;
    margin-left: 8px;
    gap: 8px;
  }
  .last ul li a {
    color: white;
    text-decoration: none;
  }
  
  .bottom {
    background-color: #195d10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 10px;
    padding: 0%;
    color: white;
  }
  